In [7]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
from sklearn.linear_model import LinearRegression

print("Reading data from CSV file...")

df = pd.read_csv('clean_automobile.csv')

print("Reading data from CSV file COMPLETED!!!")

# print (df.dtypes)

df.describe()

cat_val = ['make','body-style','drive-wheels','engine-location','engine-type','fuel-system','horsepower-binned']

for col in cat_val:
    print ([col]," : ",df[col].unique())

Reading data from CSV file...
Reading data from CSV file COMPLETED!!!
['make']  :  ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
['body-style']  :  ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
['drive-wheels']  :  ['rwd' 'fwd' '4wd']
['engine-location']  :  ['front' 'rear']
['engine-type']  :  ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf']
['fuel-system']  :  ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
['horsepower-binned']  :  ['Low' 'Medium' 'High']

In [8]:
X = df.copy()

#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['num-of-doors'] = X['num-of-doors'].apply(lambda x : convert_to_int(x))
X['num-of-cylinders'] = X['num-of-cylinders'].apply(lambda x : convert_to_int(x))


X.to_csv("intermediate_numerical_automobile.csv")

In [3]:
df = pd.read_csv('intermediate_numerical_automobile.csv')

# Change categorical attributes dtype to category

for col in df:
    if df[col].dtype == "object":
        df[col] = df[col].astype('category')
        
# Assign codes to categorical attribues instead of strings

cat_columns = df.select_dtypes(['category']).columns

df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

df.head()

df.to_csv("numerical_automobile.csv")

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned,diesel,gas,aspiration-std,aspiration-turbo
0,0,0,3,122,0,2,0,2,0,88.6,...,21,27,13495.0,11.190476,8.703704,1,0,1,1,0
1,1,1,3,122,0,2,0,2,0,88.6,...,21,27,16500.0,11.190476,8.703704,1,0,1,1,0
2,2,2,1,122,0,2,2,2,0,94.5,...,19,26,16500.0,12.368421,9.038462,2,0,1,1,0
3,3,3,2,164,1,4,3,1,0,99.8,...,24,30,13950.0,9.791667,7.833333,1,0,1,1,0
4,4,4,2,164,1,4,3,0,0,99.4,...,18,22,17450.0,13.055556,10.681818,1,0,1,1,0

In [4]:
'''
make Categorised:
    alfa-romero 0
    audi 1
    bmw 2
    chevrolet 3
    dodge 4
    honda 5
    isuzu 6
    jaguar 7
    mazda 8
    mercedes-benz 9
    mercury 10
    mitsubishi 11
    nissan 12
    peugot 13
    plymouth 14
    porsche 15
    renault 16
    saab 17
    subaru 18
    toyota 19
    volkswagen 20
    volvo 21
    
body-style Categorised :
    convertible 0
    hatchback 1
    sedan 2
    wagon 3
    hardtop 4
    
drive-wheels Categorised :
    rwd 0
    fwd 1
    4wd 2
    
engine-location Categorised :
    front 0
    rear 1
    
engine-type Categorised :
    dohc 0
    ohcv 1
    ohc 2
    l 3
    rotor 4
    ohcf 5
    
fuel-system Categorised :
    mpfi 0
    2bbl 1
    mfi 2
    1bbl 3
    spfi 4
    4bbl 5
    idi 6
    spdi 7
    
horsepower-binned Categorised :
    Low 0
    Medium 1
    High 2
'''

'\nmake Categorised:\n    alfa-romero 0\n    audi 1\n    bmw 2\n    chevrolet 3\n    dodge 4\n    honda 5\n    isuzu 6\n    jaguar 7\n    mazda 8\n    mercedes-benz 9\n    mercury 10\n    mitsubishi 11\n    nissan 12\n    peugot 13\n    plymouth 14\n    porsche 15\n    renault 16\n    saab 17\n    subaru 18\n    toyota 19\n    volkswagen 20\n    volvo 21\n    \nbody-style Categorised :\n    convertible 0\n    hatchback 1\n    sedan 2\n    wagon 3\n    hardtop 4\n    \ndrive-wheels Categorised :\n    rwd 0\n    fwd 1\n    4wd 2\n    \nengine-location Categorised :\n    front 0\n    rear 1\n    \nengine-type Categorised :\n    dohc 0\n    ohcv 1\n    ohc 2\n    l 3\n    rotor 4\n    ohcf 5\n    \nfuel-system Categorised :\n    mpfi 0\n    2bbl 1\n    mfi 2\n    1bbl 3\n    spfi 4\n    4bbl 5\n    idi 6\n    spdi 7\n    \nhorsepower-binned Categorised :\n    Low 0\n    Medium 1\n    High 2\n'

In [5]:
df = pd.read_csv('numerical_automobile.csv')

# MULTIPLE LINEAR REGRESSION

# A model using these variables as the 
# predictor variables.

Z = df[['make','body-style','drive-wheels','horsepower','city-mpg','highway-mpg','diesel','gas','aspiration-std','aspiration-turbo']]



regressor = LinearRegression()
print("Fitting regression model")
#Fitting model
regressor.fit(Z, df['price'])

print("Pickel dumping .pkl file...")

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

print(".pkl file created...")

# Loading model to compare the results
print("reading model from .pkl file...")
model = pickle.load(open('model.pkl','rb'))

print("predicting value...")
print(model.predict([[1,1,2,155,38,43,0,1,1,0]]))

Fitting regression model
Pickel dumping .pkl file...
.pkl file created...
reading model from .pkl file...
predicting value...
[21014.11049079]